In [2]:
import pandas
import numpy as np
import pandas as pd
#from __future__ import print_function
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline  
import seaborn as sns

In [3]:

df = pd.read_csv("hUSCensus1990raw50K.csv.bz2",compression = "bz2")

In [4]:
df.describe()
df.head()

,Unnamed: 0,AAGE,AANCSTR1,AANCSTR2,AAUGMENT,ABIRTHPL,ACITIZEN,ACLASS,ADEPART,ADISABL1,...,TMPABSNT,TRAVTIME,VIETNAM,WEEK89,WORK89,WORKLWK,WWII,YEARSCH,YEARWRK,YRSSERV
0,0,0,0,0,0,0,0,0,0,0,...,3,0,0,52,1,2,0,11,1,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,0,0
2,2,0,0,0,0,0,0,0,0,0,...,3,0,0,0,2,2,0,9,6,0
3,3,0,0,0,0,1,0,0,1,0,...,0,10,0,24,1,1,0,8,1,0
4,4,0,0,0,0,0,0,0,0,0,...,3,0,0,0,2,2,0,11,4,0

In [5]:
df_demo = pd.DataFrame()
df_demo["AGE"] = df[["AGE"]].copy()
df_demo["INCOME"] = df[["INCOME" + str(i) for i in range(1,8)]].sum(axis = 1)
df_demo["YEARSCH"] = df[["YEARSCH"]].copy()
df_demo["ENGLISH"] = df[["ENGLISH"]].copy()
df_demo["FERTIL"] = df[["FERTIL"]].copy()
df_demo["YRSSERV"] = df[["YRSSERV"]].copy()
df_demo = pd.get_dummies(df_demo, columns = ["ENGLISH", "FERTIL" ])

In [ ]:
data=[]

In [ ]:
X = df_demo.values[np.random.choice(df_demo.values.shape[0], 10000)]

from sklearn import metrics
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_db = sc.fit_transform(X)

for j in range(0,5):
    for n_clusters in range(2,11):
        labels = KMeans(n_clusters = n_clusters).fit_predict(X_db)

        print('Number of clusters: %d' % n_clusters)
        print("Silhouette Coefficient: %0.3f"
              % metrics.silhouette_score(X_db, labels))
        unique_labels = set(labels)
        colors = plt.cm.Spectral(np.linspace(0, 1, len(unique_labels)))
        for k, col in zip(unique_labels, colors):
            if k == -1:
                # Black used for noise.
                col = 'k'
            class_member_mask = (labels == k)
            xy = X[class_member_mask]
            plt.scatter(xy[:, 0], xy[:, 1],  c = col, edgecolor='k')
            xy = X[class_member_mask]
            plt.scatter(xy[:, 0], xy[:, 1],  c = col, edgecolor='k')
        data.append([n_clusters,metrics.silhouette_score(X_db, labels)])
        
    #   plt.show()

In [ ]:
dt=pd.DataFrame(data)

In [ ]:
dt.columns=("number","coeffi")

In [ ]:

ax = sns.pointplot(x="number", y="coeffi", data=dt,join=False)

In [ ]:
data1=[]

In [ ]:
X = df_demo.values[np.random.choice(df_demo.values.shape[0], 10000)]

from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import AgglomerativeClustering
sc = StandardScaler()
X_db = sc.fit_transform(X)

for j in range(0,5):
    for n_clusters in range(2,11):
        
        model = AgglomerativeClustering(n_clusters=n_clusters,
                                linkage="average", affinity="cosine")
        
        labels = model.fit_predict(X_db)

        print('Number of clusters: %d' % n_clusters)
        print("Silhouette Coefficient: %0.3f"
              % metrics.silhouette_score(X_db, labels))
        unique_labels = set(labels)
        colors = plt.cm.Spectral(np.linspace(0, 1, len(unique_labels)))
        for k, col in zip(unique_labels, colors):
            if k == -1:
                # Black used for noise.
                col = 'k'
            class_member_mask = (labels == k)
            xy = X[class_member_mask]
            plt.scatter(xy[:, 0], xy[:, 1],  c = col, edgecolor='k')
            xy = X[class_member_mask]
            plt.scatter(xy[:, 0], xy[:, 1],  c = col, edgecolor='k')
        data1.append([n_clusters,metrics.silhouette_score(X_db, labels)])
        
    #   plt.show()

/usr/local/lib/python2.7/dist-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

Number of clusters: 2
Silhouette Coefficient: 0.217
Number of clusters: 3
Silhouette Coefficient: 0.241
Number of clusters: 4
Silhouette Coefficient: 0.243
Number of clusters: 5
Silhouette Coefficient: 0.245
Number of clusters: 6
Silhouette Coefficient: 0.259
Number of clusters: 7
Silhouette Coefficient: 0.270
Number of clusters: 8
Silhouette Coefficient: 0.274
Number of clusters: 9
Silhouette Coefficient: 0.289
Number of clusters: 10
Silhouette Coefficient: 0.312
Number of clusters: 2
Silhouette Coefficient: 0.217
Number of clusters: 3
Silhouette Coefficient: 0.241
Number of clusters: 4
Silhouette Coefficient: 0.243
Number of clusters: 5
Silhouette Coefficient: 0.245
Number of clusters: 6
Silhouette Coefficient: 0.259
Number of clusters: 7
Silhouette Coefficient: 0.270
Number of clusters: 8
Silhouette Coefficient: 0.274
Number of clusters: 9
Silhouette Coefficient: 0.289
Number of clusters: 10
Silhouette Coefficient: 0.312
Number of clusters: 2
Silhouette Coefficient: 0.217
Number of clusters: 3
Silhouette Coefficient: 0.241
Number of clusters: 4
Silhouette Coefficient: 0.243

In [ ]:
dt1=pd.DataFrame(data1)
dt1.columns=("number","coeffi")
ax = sns.pointplot(x="number", y="coeffi", data=dt1,join=False)